.btn {
  cursor: pointer;
}

ul li {
  cursor: pointer;
}

/* .list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
} */


/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.is-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  border-radius: 30px;
  width: 100%;
  height: 80vh;
}

.loading-text {
  font-size: 30px;
  color: blue;
}

.loading-text-sm {
  font-size: 20px;
  color: blue;
}

.calendar-events-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar-events {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid tomato;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 30px;
}

.calendar-list-detail {
  display: flex;
  flex: 1;
    border: 1px solid tomato;
  border-radius: 20px;
  margin: 30px;
  padding: 30px;
}

.calendar-list {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.list-item {
  width: 100%;
  border: 1px solid slateblue;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.form-group-margin-top {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-group-due-date-margin-top, .form-group-start-time-margin-top {
  margin-bottom: 15px;
}

.mark-status-btn, .delete-btn, .update-btn, .cancel-btn, .add-btn {
  margin: 5px;
  padding: 10px;
}

.calendar-list-header-and-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  margin-left: 20px;
}

.nav-center {
  display: flex;
  color: white;
  font-size: 25px;

}

.nav-right {
  display: flex;
  color: slateblue;
  font-size: 25px;
  margin-right: 20px;
}

.add-calendar-event-form, .edit-calendar-event-form {
  border: 1px solid slateblue;
  margin: 30px;
  border-radius: 30px;
  padding: 30px;
}

.event-item {
  display: flex;
  flex-direction: row;
}

.event-item-checkbox {
  margin-left: 10px;
}