.btn {
  cursor: pointer;
}

ul li {
  cursor: pointer;
}

/* .list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
} */

.is-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  border-radius: 30px;
  width: 100%;
  height: 80vh;
}

.loading-text {
  font-size: 30px;
  color: blue;
}

.loading-text-sm {
  font-size: 20px;
  color: blue;
}

.calendar-events-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .calendar-events-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .calendar-events {
    flex: 100%;
    margin-right: 0px !important;
  }

  .calendar-list-detail {
    flex: 100%;
    margin-left: 0px !important;
  }
}

.calendar-event-search-box input:hover {
  border: 1px solid dodgerblue;
}

.calendar-events {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid tomato;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  /* padding: 30px; */
  padding: 15px;
}

.calendar-events:hover {
  border: 1px solid slateblue;
  border-radius: 20px;
}

.calendar-list-detail {
  display: flex;
  flex: 1;
  border: 1px solid tomato;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
  /* padding: 30px; */
  padding: 15px;
}

@media (max-width: 450px) {
  .calendar-list-detail h4 {
    font-size: 20px;
  }
}

.calendar-list-detail:hover {
  border: 1px solid slateblue;
}

.calendar-list {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.list-item {
  width: 100%;
  border: 1px solid slateblue;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.form-group-margin-top {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-group-due-date-margin-top, .form-group-start-time-margin-top {
  margin-bottom: 15px;
}

.mark-status-btn, .delete-btn, .update-btn, .cancel-btn, .add-btn {
  margin: 5px;
  padding: 10px;
}

.calendar-list-header-and-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar-list-header-and-filter select {
  margin-bottom: 10px;
  margin-right: 20px;
}

@media (max-width: 450px) {
  .calendar-list-header-and-filter h4 {
    font-size: 20px;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  margin-left: 20px;
}

.nav-center {
  display: flex;
  color: white;
  font-size: 25px;
}

@media (max-width: 450px) {
  .nav-center {
    font-size: 20px;
  }

  .nav-right {
    font-size: 20px !important;
  }
}

.nav-link:hover {
  color: slateblue;
}

.nav-right {
  display: flex;
  color: white;
  font-size: 25px;
  margin-right: 20px;
}

.nav-right:hover {
  color: slateblue;
}

.add-calendar-event-form, .edit-calendar-event-form {
  border: 1px solid slateblue;
  margin: 30px;
  border-radius: 30px;
  padding: 30px;
}

.event-item {
  display: flex;
  flex-direction: row;
}

.event-item-checkbox {
  margin-left: 10px;
}

.page-not-found {
  border: 1px solid dodgerblue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  padding: 30px;
  font-size: 2rem;
  box-shadow: 10px 10px 5px tomato;
  text-shadow: 3px 3px 3px slateblue;
}